body {
    background-color: #ffebcd;
}

h1 {
    font-size: 56px;
    font-family: 'Helvetica', Calibri;
}

p {
    font-size: 32px;
    font-family: 'Helvetica', Calibri;
}

footer p {
    font-size: 14px;
    opacity: 79%;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    float: right;
}

p.answer:hover {
    background-color: #fadeb4;
    font-size: 32px;
    font-family: 'Helvetica', Calibri;
}


button {
    display: inline;
    margin: 20px auto;
    background: #1a64d6;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 24px;
    border-radius: 30px;
    transition: all 200ms ease;
    box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
    cursor: pointer;
    border: 1px solid #1a64d6;
    font-family: 'Helvetica', Calibri;
    color: #ffffff;
}

br.big{    
    /* makes a big line break */

    display: block;
    content: "";
    margin-top: 4em;
}

label {
    font-size: 24px;
    font-family: 'Helvetica', Calibri;
}